/// profile for the Nimbus cloud at Pawsey

/// Set default parameters
// Any parameters provided by the user with a -params-file or 
// with --param (i.e. --outDir) command-line arguments will 
// override the values defined here
  params {
    help     = false
    version  = '1.1'
    outDir   = '/data/all_results'
    input    = false

// Nimbus specific parameters
    cluster = 'nimbus'
    work_dir = '/data/work'
    cache_dir = "data/.nextflow_singularity"
  }

workDir = ${params.work_dir}
process.cache = 'lenient'

singularity {
  enabled = true
  envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
  cacheDir = ${params.cache_dir}
}
