/// profile for the Setonix supercomputer at Pawsey

/// Set default parameters
// Any parameters provided by the user with a -params-file or 
// with --param (i.e. --outDir) command-line arguments will 
// override the values defined here

params {
    config_profile_description = 'Setonix at Pawsey Supercomputing Research Centre, Perth, Western Australia'

    help     = false
    version  = '1.1'
    outDir   = './all_results'
    input    = false
	max_time = 96.h

// Setonix specific parameters
    cluster = 'setonix'
    slurm_account = 'pawseyXXXX'
    work_dir = "$MYSCRATCH/nxf_work"
    cache_dir = "$MYSOFTWARE/.nextflow_singularity"
    igenomes_base = '/scratch/references/sarek/'
  }

workDir = ${params.work_dir}
process {
  cache = 'lenient'
  stageInMode = 'symlink'
}

singularity {
  enabled = true
  envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
  cacheDir = ${params.cache_dir}
}

process {
  executor = 'slurm'
  clusterOptions = "--account=${params.slurm_account}"
  queue = 'work'
}

executor {
  $slurm {
    queueSize = 1024
  }
}
